<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    th {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 2;
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>

<body class="container">

  <header>
  </header>

  <table style="width:100%">
    <tr>
      <th>Time</th>
      <th>Close</th>
      <th>MA(5)</th>
      <th>MA(20)</th>
      <th>Position</th>
      <th>Change Position</th>
      <th>Gain</th>
      <th>Benefice</th>
      <th>Croiser x20</th>
      <th>Top</th>
    </tr>
    <% data.slice().reverse().forEach(function(data) { %>
    <tr>
      <td><%= data.timestamp %></td>
      <td><%= data.close %></td>
      <td><%= data.ma5 %></td>
      <td><%= data.ma20 %></td>
      <td><%= data.UP %></td>
      <td><%= data.CHANGE_POSITION %></td>
      <td><%= data.gain %></td>
      <td><%= data.benef %>%</td>
      <td><%= data.croiser %>%</td>
      <td><%= data.top %></td>
    </tr>
    <% }); %>
  </table>

  <footer>
  </footer>
  <script>

    setTimeout(function () { location.reload(); }, 30000);
  </script>
</body>

</html>